@import "../../base.scss";

.landing {
  &_modal-open {
    filter: blur(10px);
  }
  .landing__header {
    background-color: $dark-blue;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-height: 56px;
    padding: 20px 40px 0;
    box-sizing: border-box;
    margin-bottom: -1px;

    .landing__header-logo {
      margin-top: 10px;
      width: 100px;
      height: 48px;
    }

    .landing__header-button {
      background-color: transparent;
      border: none;
      padding: 0;
      font-family: "BeVietnamPro-SemiBold";
      font-size: 20px;
      color: rgba($white, 0.2);
      cursor: pointer;
      align-self: center;

      &:hover {
        color: $white;
      }
    }
  }
  .main {
    width: 100vw;
    .hero {
      width: 100%;
      height: calc(100vh - 56px);
      background-color: $dark-blue;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 60px;
      box-sizing: border-box;
      margin-bottom: -1px;

      .hero__heading {
        font-family: "BeVietnamPro-BlackItalic";
        font-size: 130px;
        color: $light-pink;
        margin: 0;
        max-width: 40vw;
      }

      .hero__subtext {
        font-family: "BeVietnamPro-Regular";
        font-size: 36px;
        color: $white;
        margin: 0;
      }
    }

    .info {
      background-color: $dark-green;

      width: 100%;
      height: 40vh;
      display: flex;
      justify-content: center;
      .info__text {
        font-family: "BeVietnamPro-Regular";
        font-size: 32px;
        color: $white;
        max-width: 31vw;
        text-align: center;
        margin: auto 0;
        .info__text-italic {
          font-family: "BeVietnamPro-BoldItalic";
        }
      }
    }

    .register {
      width: 100%;
      height: 60vh;
      background-color: $light-green;
      display: flex;
      margin-top: -1px;

      .register__image {
        width: 50%;
        height: 100%;
        // background: $dark-blue url("../../assets/images/landing-image.jpg")
        //   no-repeat center;
        // background: center / cover no-repeat url(../../assets//images/landing-image.jpg);
        background-color: $dark-blue;
        background-image: url("../../assets/images/landing-image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .register__text {
        width: 50%;
        padding: 100px 0 0 40px;

        box-sizing: border-box;
        .register__text-header {
          font-family: "BeVietnamPro-Black";
          font-size: 68px;
          color: $dark-blue;
          margin: 0;
          padding-bottom: 20px;
        }

        .register__text-button {
          border: 0;
          padding: 0;
          background: none;
          font-family: "BeVietnamPro-BlackItalic";
          font-size: 68px;
          color: $light-pink;
          margin-bottom: 30px;

          &:hover {
            color: $coral;
            cursor: pointer;
          }
        }

        .register__text-subtext {
          margin: 0;
          font-family: "Quicksand";
          font-size: 32px;
          font-weight: 300;
          color: $white;
        }
      }
    }
  }
}
