@import "../../../base.scss";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  .modal__content {
    background-color: rgba(227, 228, 229, 0.8);
    max-width: 672px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;

    .modal__header {
      display: flex;
      justify-content: center;
      background-color: $light-pink;
      border-radius: 20px 20px 0 0;

      position: relative;

      .modal__title {
        font-family: "BeVietnamPro-Black";
        font-size: 32px;
        color: $white;
        margin: 0;
        padding: 20px 0;
        padding-left: 20px;
      }
      .modal__button-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        padding: 0 20px;
        height: 100%;
        border-left: 1px solid $blue;

        border-radius: 0 20px 0 0;
        &:hover {
          background-color: $light-coral;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
        }
        transition-property: background-color, border-left;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        .modal__button-close {
          background: url("src/assets/images/blue-close-icon.svg");
          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          width: 40px;
          height: 40px;
          cursor: pointer;

          &:hover {
            background: url("src/assets/images/white-close-icon.svg");
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
          transition: background 0.2s ease-in-out;
        }
      }
    }

    .modal__form {
      display: flex;
      flex-direction: column;
      .modal__button-submit {
        font-family: "BeVietnamPro-ExtraBold";
        font-size: 30px;
        color: $white;
        border: none;
        background-color: $blue;
        border-radius: 40px;
        align-self: center;
        width: 300px;
        padding: 18px 0;

        &:hover {
          background-color: $light-pink;
          color: rgba(255, 255, 255, 0.6);
          cursor: pointer;
        }
        transition-property: background-color, color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
      }
      .modal__alt-text {
        font-family: "Quicksand";
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        margin: 0;
        padding: 16px 0 30px;
        .modal__button-alt {
          font-family: "Quicksand";
          font-weight: 500;
          font-size: 22px;
          background: transparent;
          border: none;
          color: $coral;
          cursor: pointer;

          &_none {
            display: none;
          }
        }
      }
    }
  }
}

/* ---------------------------- Modal form styles --------------------------- */

.modal__form-content {
  padding: 40px 60px;
  position: relative;
  display: flex;
  flex-direction: column;

  .modal__input {
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
    position: relative;

    .modal__input-title {
      font-family: "BeVietnamPro-Bold";
      font-size: 22px;
      margin: 0;
    }

    .modal__form-input {
      font-family: "Quicksand";
      font-weight: 600;
      font-size: 20px;
      background: none;
      border: none;
      border-bottom: 1px solid $gray;
      padding: 10px 0 10px 12px;

      &:focus {
        outline: none;
      }

      &_invalid {
        border-bottom: 1px solid $coral;
      }
    }

    .modal__error {
      position: absolute;
      bottom: 0;
      left: 8px;
      font-family: "Quicksand";
      font-weight: 600;
      font-size: 16px;
      color: $coral;
    }
  }

  .modal__error-bottom {
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 20px;
    color: $coral;
    margin: 0 auto;
    position: absolute;
    bottom: 16px;
    left: 200px;
  }

  .modal__text {
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    max-width: 70%;
    align-self: center;
    margin: 0;
    padding: 50px 0 70px;
  }
}
