/* Fonts */
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-ExtraLight", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-LightItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Light", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-Italic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Regular", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-MediumItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Medium", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-SemiBoldItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-SemiBold", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-BoldItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Bold", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-ExtraBoldItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-ExtraBold", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-BlackItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Black", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* Colors */
/* Breakpoints */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal .modal__content {
  background-color: rgba(227, 228, 229, 0.8);
  max-width: 672px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}
.modal .modal__content .modal__header {
  display: flex;
  background-color: #eb898f;
  border-radius: 20px 20px 0 0;
  justify-content: space-between;
}
.modal .modal__content .modal__header .modal__title {
  font-family: "BeVietnamPro-Black";
  font-size: 32px;
  color: #fff;
  margin: 0;
  padding: 20px 0;
  padding-left: 20px;
}
.modal .modal__content .modal__header .modal__button-container {
  padding: 20px 20px;
  border-left: 1px solid #262732;
  border-radius: 0 20px 0 0;
}
.modal .modal__content .modal__header .modal__button-container:hover {
  background-color: #f27e88;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.modal .modal__content .modal__header .modal__button-container .modal__button-close {
  background: url("src/assets/images/blue-close-icon.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: auto 0;
}
.modal .modal__content .modal__header .modal__button-container .modal__button-close:hover {
  background: url("src/assets/images/white-close-icon.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.modal .modal__content .modal__form {
  display: flex;
  flex-direction: column;
}
.modal .modal__content .modal__form .modal__button-submit {
  font-family: "BeVietnamPro-ExtraBold";
  font-size: 30px;
  color: #fff;
  border: none;
  background-color: #262732;
  border-radius: 40px;
  align-self: center;
  width: 300px;
  padding: 18px 0;
}
.modal .modal__content .modal__form .modal__button-submit:hover {
  background-color: #eb898f;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.modal .modal__content .modal__form .modal__alt-text {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin: 0;
  padding: 16px 0 30px;
}
.modal .modal__content .modal__form .modal__alt-text .modal__button-alt {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 22px;
  background: transparent;
  border: none;
  color: #f25c68;
  cursor: pointer;
}
.modal .modal__content .modal__form .modal__alt-text .modal__button-alt_none {
  display: none;
}

/* ---------------------------- Modal form styles --------------------------- */
.modal__form-content {
  padding: 40px 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__form-content .modal__input {
  display: flex;
  flex-direction: column;
  padding-bottom: 26px;
  position: relative;
}
.modal__form-content .modal__input .modal__input-title {
  font-family: "BeVietnamPro-Bold";
  font-size: 22px;
  margin: 0;
}
.modal__form-content .modal__input .modal__form-input {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid #636767;
  padding: 10px 0 10px 12px;
}
.modal__form-content .modal__input .modal__form-input:focus {
  outline: none;
}
.modal__form-content .modal__input .modal__form-input_invalid {
  border-bottom: 1px solid #f25c68;
}
.modal__form-content .modal__input .modal__error {
  position: absolute;
  bottom: 0;
  left: 8px;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 16px;
  color: #f25c68;
}
.modal__form-content .modal__error-bottom {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 20px;
  color: #f25c68;
  margin: 0 auto;
  position: absolute;
  bottom: 16px;
  left: 200px;
}
.modal__form-content .modal__text {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  max-width: 70%;
  align-self: center;
  margin: 0;
  padding: 50px 0 70px;
}/*# sourceMappingURL=ModalWithForm.css.map */