@import "../../../base.scss";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  .modal__content {
    background-color: $light-pink;
    max-width: 672px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px;

    .modal__header {
      display: flex;
      justify-content: center;

      border-radius: 40px 40px 0 0;

      position: relative;

      .modal__title {
        font-family: "BeVietnamPro-Black";
        font-size: 52px;
        color: $dark-blue;
        margin: 0;
        padding: 60px 0 0;
      }

      .modal__button-close {
        background: center / contain no-repeat
          url("src/assets/images/white-close-icon.svg");

        border: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 25px;
        opacity: 50%;

        &:hover {
          opacity: 100%;
        }
      }
    }
  }

  .modal__form {
    display: flex;
    flex-direction: column;
    .modal__button-submit {
      font-family: "BeVietnamPro-ExtraBold";
      font-size: 30px;
      color: $light-pink;
      border: none;
      background-color: $dark-blue;
      border-radius: 40px;
      align-self: center;
      width: 270px;
      padding: 18px 0;
      border: solid $dark-blue 3px;

      &:hover {
        background-color: transparent;
        color: $dark-blue;
        cursor: pointer;
      }
      transition-property: background-color, color;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
    .modal__alt-text {
      font-family: "Quicksand";
      font-weight: 500;
      font-size: 22px;
      text-align: center;
      margin: 0;
      padding: 16px 0 30px;
      color: $white;
      .modal__button-alt {
        font-family: "Quicksand";
        font-weight: 500;
        font-size: 22px;
        background: transparent;
        border: none;
        color: $dark-blue;
        cursor: pointer;

        &_none {
          display: none;
        }
      }
    }
  }
}

/* ---------------------------- Modal form styles --------------------------- */

.modal__form-content {
  padding: 40px 80px;
  position: relative;
  display: flex;
  flex-direction: column;

  .modal__input {
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
    position: relative;

    .modal__input-title {
      font-family: "BeVietnamPro-Bold";
      font-size: 22px;
      margin: 0;
      color: $white;
    }

    .modal__form-input {
      font-family: "Quicksand";
      font-weight: 600;
      font-size: 20px;
      color: $white;
      background: none;
      border: none;
      border-bottom: 1px solid rgba($white, 0.5);
      padding: 10px 0 10px 12px;

      &::placeholder {
        color: rgba($white, 0.5);
      }

      &:focus {
        outline: none;
      }

      &_invalid {
        border-bottom: 1px solid $dark-blue;
      }

      &_valid {
        border-bottom: 1px solid $white;
      }

      &-number {
        width: 430px;
        font-size: 26px;
        margin: 0 auto;
      }
    }

    .modal__error {
      position: absolute;
      bottom: 4px;
      left: 8px;
      font-family: "Quicksand";
      font-weight: 600;
      font-size: 14px;
      color: $dark-blue;
    }
  }

  .modal__error-bottom {
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 20px;
    color: $dark-blue;
    margin: 0 auto;
    position: absolute;
    bottom: 8px;
    left: 200px;
  }

  .modal__text {
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    max-width: 70%;
    align-self: center;
    margin: 0;
    padding: 50px 0 70px;
    color: $white;
  }
}
