@import "../../../base.scss";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  .modal__content {
    background-color: rgba(227, 228, 229, 0.8);
    max-width: 672px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;

    .modal__header {
      display: flex;
      background-color: $light-pink;
      border-radius: 20px 20px 0 0;
      justify-content: space-between;

      .modal__title {
        font-family: "BeVietnamPro-Black";
        font-size: 32px;
        color: $white;
        margin: 0;
        padding: 20px 0;
        padding-left: 20px;
      }
      .modal__button-container {
        padding: 20px 20px;
        border-left: 1px solid $blue;
        border-radius: 0 20px 0 0;
        &:hover {
          background-color: $light-coral;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
        }
        .modal__button-close {
          background: url("src/assets/images/blue-close-icon.svg");
          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          border: none;
          width: 40px;
          height: 40px;
          cursor: pointer;
          margin: auto 0;
          &:hover {
            background: url("src/assets/images/white-close-icon.svg");
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }

    .modal__form {
      display: flex;
      flex-direction: column;
      .modal__button-submit {
        font-family: "BeVietnamPro-ExtraBold";
        font-size: 30px;
        color: $white;
        border: none;
        background-color: $blue;
        border-radius: 40px;
        align-self: center;
        width: 300px;
        padding: 18px 0;

        &:hover {
          background-color: $light-pink;
          color: rgba(255, 255, 255, 0.6);
          cursor: pointer;
        }
      }
      .modal__alt-text {
        font-family: "Quicksand";
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        margin: 0;
        padding: 16px 0 30px;
        .modal__button-alt {
          font-family: "Quicksand";
          font-weight: 500;
          font-size: 22px;
          background: transparent;
          border: none;
          color: $coral;
          cursor: pointer;

          &_none {
            display: none;
          }
        }
      }
    }
  }
}
