/* Fonts */
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand", Arial, sans-serif;
  src: url("../assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-ExtraLight", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-LightItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Light", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-Italic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Regular", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-MediumItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Medium", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-SemiBoldItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-SemiBold", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-BoldItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Bold", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-ExtraBoldItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-ExtraBold", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro-BlackItalic", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "BeVietnamPro-Black", Arial, sans-serif;
  src: url("../assets/fonts/BeVietnamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* Colors */
/* Breakpoints *//*# sourceMappingURL=base.css.map */